html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {

}

.container {
    background-color: blue;
}

.dynamic-search {
    /*background-color: green;*/
}

.result-list {
    /*background-color: orange;*/
}

.map-container {
    background-color: red;
}

#map {
    height: calc(100vh - 70px);
    min-height: 100%;
    max-height: none;
}

md-toolbar {
    min-height: 70px;
    max-height: 70px;
}

md-toolbar .vertical-divider {
    width: 2px;
    height: 70px;
    margin: 0 2px;
    background-color: #e0e0e0;
}

md-input-container .md-errors-spacer {
    min-height: 0;
    max-height: 0;
    min-width: 0;
    max-width: 0;
}
